h1,
h2,
.navbar-brand,
.packageList h3 {
  font-family: "Roboto Slab", serif;
}
.banner button,
.purchaseBtn {
  background: #48abe4;
  border-radius: 25px;
  width: 110px;
  box-shadow: 0 4px 4px #0000002e;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.banner {
  background: linear-gradient(to right, #febd3b, #ff8e30);
}
.banner button:first-child,
.packageList button {
  color: #fff;
}
.banner button:nth-child(2) {
  background: #fff;
  color: #48abe4;
}
.banner button:hover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.banner button:first-child:hover,
.packageList .purchaseBtn:hover {
  color: #48abe4;
  background: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.banner button:nth-child(2):hover {
  background: #48abe4 !important;
  color: #fff;
}
.navbar a {
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
}
.navbar .activeLink {
  border-bottom: 2px solid #48abe4;
  color: rgba(0, 0, 0, 0.9) !important;
}
.navbar {
  box-shadow: 0 0 3px #000;
}
.navbar-brand {
  cursor: pointer;
}
.learnMoreBtn {
  background: linear-gradient(to right, #febd3b, #ff8e30);
  border-radius: 25px;
  width: 110px;
}
.learnMoreBtn:hover {
  background: linear-gradient(to left, #febd3b, #ff8e30);
}
.download {
  background: #53c2de;
}
.featureHover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.featureHover:hover {
  box-shadow: 0 4px 4px #00000061;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.featureHover:hover i {
  color: #ff8e30;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.featureHover i {
  font-size: 35px;
}
.feedback {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 7px #0000006e;
}
.slider img {
  position: relative;
  z-index: 999999999;
}
.carousel-indicators {
  bottom: -45px;
}
.packageList {
  box-shadow: 0 5px 7px #00000061;
  border-radius: 20px;
}
.packageList h4 {
  font-size: 40px;
}
.packageList span {
  font-size: 23px;
}
.couterSection {
  background: url(../src/Images/bg-1.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.couterIcon {
  font-size: 2.3em;
}
.chooseUsSection i {
  font-size: 8px;
  color: #48abe4;
  position: relative;
  top: -3px;
}
/* bootstrap form icon  */
.form-control.is-valid,
.was-validated .form-control:valid {
  background-position: center right calc(0.375em + 0.1875rem);
}
.form-control.is-valid:focus,
.was-validated :valid.form-control {
  border-color: #ced4da !important;
  background-image: none !important;
  padding-right: 15px !important;
  box-shadow: none !important;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  /*   background-image: none !important; */
  box-shadow: none !important;
}
.loadingIcon {
  margin-left: 10px;
}
.contactSection {
  background: linear-gradient(to right, #51bedd 50%, #51bedd 50%);
  overflow: hidden;
}
.submitBtn {
  background: #fff;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  color: #212529 !important;
  border-radius: 25px;
  box-shadow: 0 4px 4px #0000002e;
  width: 110px;
}
.submitBtn:hover {
  color: #51bedd !important;
}
.contactform {
  position: relative;
  z-index: 2;
}
.footer {
  background: #18a;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #48abe4;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler {
  padding: 0;
  border: none;
  outline: 0;
  margin-right: 7px;
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggler .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
}

.navbar-toggler.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navbar-toggler.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggler.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.navbar-toggler {
  margin: 10px 10px 10px auto;
}

@media (min-width: 576px) {
  .map {
    position: absolute;
  }
  .contactSection {
    background: linear-gradient(to right, #51bedd 50%, #fff 50%);
  }
}
